In [1]:
#int --> float
a= 10
b= float(a)
print(a)
print(b)

10
10.0

In [3]:
#float --> int
a=10.33
b=int(a)
print(a)
print(b)

10.33
10

In [4]:
#int-->str
a=10
b=str(a)
print(a)
print(b)

10
10

In [5]:
#str-->int
a='10'
b=int(a)
print(a)
print(b)

10
10

In [6]:
#str --> float
a='10.32'
b=float(a)
print(a)
print(b)

10.32
10.32

In [7]:
#float --> str
a=10.56
b=str(a)
print(a)
print(b)

10.56
10.56

In [11]:
amount= int(input("Enter the Amount"))
five=0
two=0
one=0
if amount % 100==0:
    if amount >=500:
        five = amount//500
        print("500 note are ",five)
        amount= amount-(five*500)
    if amount >=200:
        two = amount//200
        print("200 note are ",two)
        amount= amount-(two*200)
    if amount >=100:
        one = amount//100
        print("100 note are ",one)
        amount= amount-(one*100)
else :
    print("enter above 1oo")

Enter the Amount 25300

500 note are  50
200 note are  1
100 note are  1

In [8]:
bs= float(input("Enter the Basic Salary"))
if bs < 20000:
    hra = 0.76*bs
    da = 0.78*bs
elif 20000 <= bs <= 30000:
    hra = 0.79 * bs
    da = 0.82 * bs
elif bs > 30000:
    hra = 0.85 * bs
    da = 0.89 * bs
gs = bs+hra+da
print(gs)

Enter the Basic Salary 25000

65250.0

In [12]:
salary = int (input("Enter your salary "))
if salary <=500000:
    tds = 0*salary 
else:
    if salary<=700000:
        tds = 0.05*(salary-500000)
    elif salary<=1000000:
        tds = 0.10*(salary - 500000)
    elif salary <= 1500000:
        tds = (200000 * 0.05) + (300000 * 0.10) + (salary - 1000000) * 0.15
    elif salary<=2000000:
        tds = (200000 * 0.05) + (300000 * 0.10) + (500000 * 0.15) + (salary - 1500000) * 0.20
    else:
        tds = (200000 * 0.05) + (300000 * 0.10) + (500000 * 0.15) + (500000 * 0.20) + (salary - 2000000) * 0.30

tds

Enter your salary  1000000

50000.0